<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello Hitb!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/bootstrap4/css/bootstrap.min.css") %>" />
    <script src="<%= static_path(@conn, "/css/jquery/jquery.min.js") %>" ></script>
    <script src="<%= static_path(@conn, "/css/bootstrap4/js/bootstrap.min.js") %>"></script>
    <script src="<%= static_path(@conn, "/css/vue.min.js") %>"></script>
    <script src="<%= static_path(@conn, "/css/phoenix.js") %>"></script>
  </head>

  <script type="text/javascript">

  </script>

  <body>
    <header class="header">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <%# <div id = "app">
          <a class="navbar-brand" href="#">{{currentTime}}</a>
        </div> %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/block">首页</a>
            </li>
            <%# <li class="nav-item">
              <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Pricing</a>
            </li> %>
            <li class="nav-item">
              <a class="nav-link" href="/block/block_html">区块列表</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link" href="/block/peer">节点列表</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link" href="/block/account?page=one">个人信息</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link" href="/block/account?page=pay">转账交易</a>
            </li>
            <%# <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item"  href="/account?page=all">主要信息</a>
                  <a class="dropdown-item" href="/account?page=one">个人信息</a>
                  <a class="dropdown-item" href="/account?page=pay">转账交易</a>
                </div>
            </li> %>
            <li class="nav-item">
              <%# <a class="nav-link" href="/logout">退出</a> %>
            </li>
          </ul>
          <div id = "app">
            <a class="navbar-brand" href="#">{{currentTime}}</a>
          </div>
          <div class="form-inline my-2 my-lg-0">
            <button class="btn  btn-light my-2 my-sm-0"><a href="/block/logout" class="text-secondary">退出</a></button>
          </div>
        </div>
      </nav>
    </header>
    <div id = "page">
      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>
    </div>
  </body>
  <script>
    $(document).ready(function() {
      // 将jquery的ajax加入到Vue对象中,vue对象里的this.$ajax就相当于是jquery的$.ajax
      Vue.prototype.$ajax = $.ajax;
      const BASE_URL = '/block/api';
      // console.log(Vue)
      // 整个页面就是一个Vue对象,将所有属性都放到data里,将所有function都放到methods里
      const common = new Vue({
        el: '#app',
        data: {
          type : 'index',
          items: [],
          currentTime: new Date().toLocaleString()
        },
        methods: {
        }  // vue-methods
      })  // new-Vue
    });  // jquery-ready
  </script>
  <style>
    .box_info {
        width: 80%;
        height: 120px;
        margin: auto;
        padding: 15px;
        box-shadow: 10px 10px 5px #888888;
      }
    .account_table  {
      width: 91.5%;
      margin: auto;
    }
    .header {
      margin-bottom: 30px;
    }
    .account_hr {
      width: 91.5%;
      margin: auto;
      margin-top: 25px;
    }
    .account_hr > hr {
      width: 100%;
      border: 1px solid #888888
    }
    .cards {
      width: 90%;
      margin: auto;
    }
  </style>
</html>
