<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello Hitb!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/bootstrap.css") %>" />
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>" />
    <script src="<%= static_path(@conn, "/js/jquery-1.9.1.min.js") %>" ></script>
    <script src="<%= static_path(@conn, "/js/bootstrap.min.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/vue.min.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/phoenix.js") %>"></script>
  </head>

  <script type="text/javascript">

  </script>

  <body>
    <header class="header">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <%# <div id = "app">
          <a class="navbar-brand" href="#">{{currentTime}}</a>
        </div> %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">首页</a>
            </li>
            <%# <li class="nav-item">
              <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Pricing</a>
            </li> %>
            <li class="nav-item">
              <a class="nav-link" href="/block">区块列表</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link" href="/peer">节点列表</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link" href="/account?page=one">个人信息</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link" href="/account?page=pay">转账交易</a>
            </li>
            <%# <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item"  href="/account?page=all">主要信息</a>
                  <a class="dropdown-item" href="/account?page=one">个人信息</a>
                  <a class="dropdown-item" href="/account?page=pay">转账交易</a>
                </div>
            </li> %>
            <li class="nav-item">
              <%# <a class="nav-link" href="/logout">退出</a> %>
            </li>
          </ul>
          <div id = "app">
            <a class="navbar-brand" href="#">{{currentTime}}</a>
          </div>
          <div class="form-inline my-2 my-lg-0">
            <button class="btn  btn-light my-2 my-sm-0"><a href="/logout" class="text-secondary">退出</a></button>
          </div>
        </div>
      </nav>
    </header>
    <div id = "page">
      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>
    </div>
  </body>
  <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
</html>
