.box_info {
    width: 80%;
    height: 120px;
    margin: auto;
    padding: 15px;
    box-shadow: 10px 10px 5px #888888;
  }
.account_table  {
  width: 91.5%;
  margin: auto;
}
.account_hr {
  width: 91.5%;
  margin: auto;
  margin-top: 25px;
}
.account_hr > hr {
  width: 100%;
  border: 1px solid #888888
}